*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
 */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}
:root{
    --pink: #DC3535;
    --color1: #CFF5E7;
    --color2 : #E8C4C4;
    --color3: #FFEBAD;
    --color4 : #FFF6BF;
}
.primary{
    background-color: var(--pink);
    padding: 1rem 1.8rem;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 700;
}
/* Header Styles */
.header{
    height: 80vh;
    background: url(../images/donation5.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.page-title{
    font-size: 4.2rem;
    text-align: center;
    font-weight: 700;
}
.page-subtitle{
    font-size: 1.5rem;
    margin: 1.2rem 25rem;
    text-align: center;
    line-height: 1.5;
}
/* section-today styles */
section{
    color: #000;
}
.sec-title{
    font-size: 2rem;
    margin-bottom: 1.2rem;
    font-weight: 700;
}
.sec-desc{
    font-size: 1.2rem;
    padding: 1rem 7rem;
}
.donate-today{
    margin: 5rem 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.donation-amount{
    margin: 1rem 0;
}
.btn-tk{
    padding: 2rem 2.2rem;
    font-size: 1.1rem;
    font-weight: 700;
    margin-right: 1rem;
    cursor: pointer;
    color: #272727;
}
.btn-tk:hover{
    background-color: #f19e9ec2;
    color: var(--pink);
    border: 1px solid var(--pink);
}

.custom-amount{
    border-bottom: 1px solid #757575;
    width: 75%;
    margin: 1rem 0;
    
    
}
.custom-amount input{
    padding: 1rem;
    border: none;
    font-size: 1.2rem;
}
.custom-amount input:focus{
    outline: none;
}
/* Donate-plan styles */
.donate-plan{
    margin: 5rem 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.donate-plan .sec-desc{
    font-size: 1.2rem;
    padding: 1rem 12rem;
}
.donation-card{
    display: flex;
    text-align: left;
    gap: 1rem;
    margin: 1rem 7rem 0;
}

.cards{
    padding: 1.5rem 0.8rem;
}
.cards-1{
    background-color: var(--color1);
}
.cards-2{
    background-color: var(--color2);
}
.cards-3{
    background-color: var(--color3);
}
.card-image, .card-title, .card-desc{
    margin-bottom: 1.2rem;
}
/* contribution styles */
.contribution{
    margin: 5rem 12rem;
}
.contribute-one{
    display: grid;
    grid-template-columns: 1.3fr 1.7fr;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 7rem 0;
    padding: 1.5rem 0;
}
.contribute-two{
    display: grid;
    grid-template-columns: 1.7fr 1.3fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 3rem 7rem 0;
    padding: 1.5rem 0;
}
.con-desc{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.contribute-title{
    font-size: 2rem;
    font-weight: 700;

}
.con-image img{
    height: 370px;
    width: 360px;
}
/* newsletter styles */
.newsletter{
    margin: 5rem 20rem;
    text-align: center;
}
.news-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.news-desc{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    padding: 0 4rem;
}
.subscribe{
    background-color: var(--color4);
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe input{
    padding: 1rem;
    margin-right: 0;
    background-color: #d1cece;
    font-size: 1.2rem;
    border: 0;
    border-radius: 5px 0  0 5px;
}
.btn-subscribe{
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
}
footer{
    background-color: #000;
    text-align: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
footer h2{
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    color: #DC3535;
    padding-top: 1.5rem;
}
footer p{
    padding-bottom: 1.5rem;
}